<footer class="site-footer">
    <div class="wrapper">
        <div class="footer-col-wrapper">

            <div class="footer-col  footer-col-2">
                <p class="text">{{ site.description }}</p>
            </div>

            <div class="footer-col  footer-col-3">
                <!-- <p class="rss-subscribe"><a href="{{ "/reading-list.html" | prepend: site.baseurl }}">Reading List</a></p> -->
                <span style="margin-right: 5px">
                    <a href="/projects">Projects</a>
                </span>
                |
                <span style="margin-left: 5px">
                    <a href="{{ " /feed.xml " | prepend: site.baseurl }}">RSS</a>
                </span>
            </div>
        </div>
    </div>
</footer>
<!-- <script src="//cdn.bleachcss.com/probe/latest.js"></script>
<script>BleachCSS.start({key: "3d86843af85d4ddd3a814a330e2f31e6"});</script>
 -->